
<app-loader></app-loader>
<router-outlet></router-outlet>
<div class="row mx-0 pt-5">
    <div class="col-md-11 mx-auto bg-light rounded px-0 align-top min-vh-75">
        <div class="row mx-0" style="min-height:90vh; height: 100%;">
            <div class="col-2 mx-0 text-light pb-5 pt-4 container"
                style="height: 100;background-color: #25292d;">
                <div class="row mx-0">

                    <ul class="list-group mb-5">
                        <li class="list-group-item  bg-secondary text-light">
                            <div class="row px-2">
                                <div class="col-md-12 fa-2x">  <fa-icon [icon]="['fas' , 'truck']"></fa-icon> SGD
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item  bg-dark text-light fa-2x  pointer" [routerLinkActive]="['active']"
                            routerLink="home"><a style="text-decoration: none;" class=" text-light">
                                <fa-icon [icon]="['fas' , 'home']"></fa-icon> Inicio
                            </a></li>
                        <li class="list-group-item  bg-dark text-light fa-2x pointer" [routerLinkActive]="['active']"
                            routerLink="despachos"><a style="text-decoration: none;" class=" text-light">
                                <fa-icon [icon]="['fas' , 'truck-loading']"></fa-icon> Despacho
                            </a></li>
                        <li class="list-group-item  bg-dark text-light fa-2x pointer" [routerLinkActive]="['active']"
                            routerLink="facturas"><a style="text-decoration: none;" class=" text-light">
                                <fa-icon [icon]="['fas' , 'wallet']"></fa-icon> Facturación
                            </a></li>
                        <li class="list-group-item  bg-dark text-light fa-2x pointer" [routerLinkActive]="['active']"
                            routerLink="planillas"><a style="text-decoration: none;" class=" text-light">
                                <fa-icon [icon]="['fas' , 'users']"></fa-icon> Planillas
                            </a></li>
                        <li class="list-group-item  bg-dark text-light fa-2x pointer" [routerLinkActive]="['active']"
                            routerLink="diesel"><a style="text-decoration: none;" class=" text-light">
                                <fa-icon [icon]="['fas' , 'gas-pump']"></fa-icon> Diesel
                            </a></li>
                        <li class="list-group-item  bg-dark text-light fa-2x pointer" [routerLinkActive]="['active']"
                            routerLink="balances"><a style="text-decoration: none;" class=" text-light">
                                <fa-icon [icon]="['fas' , 'chart-bar']"></fa-icon> Balances
                            </a></li>
                    </ul>
                </div>
                <div class="row text-center">
                    <div class="col-6">
                        Config: <button class="btn btn-primary" routerLink="configuracion"
                            style="text-decoration: none;">
                            <fa-icon [icon]="['fas' , 'cog']"></fa-icon>
                        </button>
                    </div>

                    
        
                        <div class="dropdown " *ngIf="nomUsuario">
                          <button class="btn btn-outline-info dropdown-toggle btn-sm " type="button" id="dropdownMenuButton"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                           <fa-icon [icon]="['fas' , 'user']"></fa-icon>
                            {{nomUsuario}}
                          </button>
                          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton"  style="cursor:pointer;">
                            <a class="dropdown-item" [routerLink]="['/cambio-passw']">Cambiar Contraseña</a>
                            <a class="dropdown-item" (click)="salir()">Cerrar sesión</a>
                          </div>
                        </div>
                        
                </div>
            </div>
            
            <div class="col-10 px-0 overflow-auto">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>
<div class="fixed-bottom row">
    <div class="col-md-12 bg-dark text-center text-light">Sistema Gestor de Despacho 2021</div>
</div>