<div class="container-fluid mt-5">

    <div class="card container" >
      <div class="card-body">
        <h3 class="card-title text-center" >Lista de clientes</h3>
        <div class="container d-flex mb-3" [@estadoFiltrar]="stateName">
          <form class="form-inline" id="frmFiltro">
            <div class="form-group">
              <label class="mr-1" for="">Cedula</label>
              <input type="text" class="form-control" placeholder="Codigo" #fCodigo (keyup)="onFiltroChange({cedula_cliente: fCodigo.value, nombre_cliente:fNombre.value});">
              
            </div>
            <div class="form-group">
              <label class="mr-1" for="">Nombre Cliente</label>
              <input type="text" class="form-control" placeholder="Nombre" #fNombre (keyup)="onFiltroChange({cedula_cliente: fCodigo.value, nombre_cliente:fNombre.value});">
            </div>
          </form>
          <button class="btn btn-danger ml-3" (click)="toggleFiltro();" onclick="frmFiltro.reset()">&times;</button>
        </div>

  
        <div class="container table-responsive">
          <table class="table  table-sm table-hover">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Cedula</th>
                <th scope="col">Nombre</th>
                <th scope="col">Apellidos</th>
                <th scope="col">Sexo</th>
                <th scope="col">Telefono</th>
                <th scope="col">Direccion</th>
                <th colspan="2" class="text-center"><button class="btn btn-success" (click)="nuevoCliente()"
                    data-toggle="modal" data-target="#ventanaForm">
                    <fa-icon [icon]="['fas','plus']"></fa-icon>
                  </button></th>
              </tr>
            </thead>
  
            <tbody>
              <tr *ngFor="let item of clientes">
                <th scope="row">{{item.cedula_cliente}}</th>
                <td>{{item.nombre_cliente}}</td>
                <td>{{item.apellidos_cliente}}</td>
                <td>{{item.sexo_cliente}}</td>
                <td>{{item.telefono_cliente}}</td>
                <td>{{item.direccion_cliente}}</td>
                <td class="text-center"><button class="btn btn-warning" (click)="editarCliente(item.cedula_cliente)"
                    data-toggle="modal" data-target="#ventanaForm">
                    <fa-icon [icon]="['fas','edit']"></fa-icon>
                  </button></td>
                <td class="text-center"><button class="btn btn-danger" (click)="confirmarEliminar(item.cedula_cliente)"
                    data-toggle="modal" data-target="#ventanaConfirm">
                    <fa-icon [icon]="['far','trash-alt']"></fa-icon>
                  </button></td>
              </tr>
            </tbody>
  
          </table>
  
  
        </div>
      </div>
  
      <div class="card-footer d-flex justify-content-between mh-2">
        <div class="d-flex justify-content-between mt-2">
        <div class="mr-2">
          <select name="" id="" class="form-control" (change)="cambiarLimite($event)">
            <option value="2">2</option>
            <option value="5" selected>5</option>
            <option value="10">10</option>
            <option value="15">15</option>
            <option value="20">20</option>
            <option value="30">30</option>
            <option value="50">50</option>
            <option value="75">75</option>
            <option value="100">100</option>
          </select>
        </div>
        <nav aria-label="Page navigation example">
          <ul class="pagination">
            <li class="page-item">
  
  
              <a class="page-link"  aria-label="Previous" (click)="cambiarPagina(-1)">
  
  
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            <li class="page-item" *ngIf="paginacion.primero>1"><a class="page-link" (click)="cambiarPagina(-2)"><<<</a></li>
  
            <li class="page-item" [ngClass]="{'active':paginacion.actual==n}" *ngFor="let n of paginacion.pags | slice:paginacion.primero-1:paginacion.ultimo">
              <a class="page-link" (click)="cambiarPagina(n)">{{n}}</a>
            </li>
  
  
          
            <li class="page-item" *ngIf="paginacion.ultimo< paginacion.numPags"><a class="page-link" (click)="cambiarPagina(-3)">>>></a></li>
            <li class="page-item">
  
  
              <a class="page-link"  aria-label="Next" (click)="cambiarPagina(0)">
  
  
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
        <div class="botones mt-2">
          <button class="btn btn-primary mr-2" (click)="toggleFiltro();"onclick="frmFiltro.reset()">Filtrar</button>
          <button class="btn btn-success mr-2" (click)="onImprimir();">Imprimir</button>
          <button class="btn btn-danger mr-2" (click)="onCerrar();">Cerrar</button>
        </div>
      </div>
  
    </div>
  </div>
  
  <!--Ventana Formulario Modal -->
  <div class="modal fade" id="ventanaForm" data-backdrop="static" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">{{tituloForm}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]="frmCliente" (submit)="onSubmit()" id="frmCliente" name="frmCliente">
            <div class="form-group row">
              <label for="id_producto" class="col-sm-2 col-form-label">Cedula</label>
              <div class="col-sm-10">
                <input type="text" formControlName="cedula_cliente" class="form-control" id="cedula_cliente">
              </div>
            </div>

            <div class="form-group row">
              <label for="nombre_cliente" class="col-sm-2 col-form-label">Nombre</label>
              <div class="col-sm-10">
                <input type="text" formControlName="nombre_cliente" class="form-control" id="nombre_cliente">
                <div class="alert alert-danger"
                  *ngIf="frmCliente.controls['nombre_cliente'].invalid && frmCliente.controls['nombre_cliente'].touched">
                  <div *ngIf="frmCliente.controls['nombre_cliente'].errors['required']">El nombre es obligatorio</div>
                </div>
              </div>
            </div>
            <div class="form-group row">
                <label for="apellidos_cliente" class="col-sm-2 col-form-label">Apellidos</label>
                <div class="col-sm-10">
                  <input type="text" formControlName="apellidos_cliente" class="form-control" id="apellidos_cliente">
                  <div class="alert alert-danger"
                    *ngIf="frmCliente.controls['apellidos_cliente'].invalid && frmCliente.controls['apellidos_cliente'].touched">
                    <div *ngIf="frmCliente.controls['apellidos_cliente'].errors['required']">El apellido es obligatorio</div>
                  </div>
                </div>
              </div>

              <div class="form-group row">
                <label for="sexo_cliente" class="col-sm-2 col-form-label">Sexo</label>
                <div class="col-sm-10">
                  <select class="form-control" formControlName="sexo_cliente" id="sexo_cliente">
                    <option value="Masculino">Masculino</option>
                    <option value="Femenino">Femenino</option>
                  </select>
                </div>
              </div>

           <!--  <div class="form-group row">
              <label for="sexo_cliente" class="col-sm-2 col-form-label">Sexo</label>
              <div class="col-sm-10">
                <input type="text" formControlName="sexo_cliente" class="form-control" id="sexo_cliente">
                <div class="alert alert-danger"
                  *ngIf="frmCliente.controls['sexo_cliente'].invalid && frmCliente.controls['sexo_cliente'].touched">
                  <div *ngIf="frmCliente.controls['sexo_cliente'].errors['required']">El sexo es obligatorio</div>
                </div>
              </div>
            </div>-->

            <div class="form-group row">
                <label for="telefono_cliente" class="col-sm-2 col-form-label">Telefono</label>
                <div class="col-sm-10">
                  <input type="text" formControlName="telefono_cliente" class="form-control" id="telefono_cliente">
                  <div class="alert alert-danger"
                    *ngIf="frmCliente.controls['telefono_cliente'].invalid && frmCliente.controls['telefono_cliente'].touched">
                    <div *ngIf="frmCliente.controls['telefono_cliente'].errors['required']">El telefono es obligatorio</div>
                  </div>
                </div>
              </div>

              <div class="form-group row">
                <label for="direccion_cliente" class="col-sm-2 col-form-label">Direccion</label>
                <div class="col-sm-10">
                  <input type="text" formControlName="direccion_cliente" class="form-control" id="direccion_cliente">
                  <div class="alert alert-danger"
                    *ngIf="frmCliente.controls['direccion_cliente'].invalid && frmCliente.controls['direccion_cliente'].touched">
                    <div *ngIf="frmCliente.controls['direccion_cliente'].errors['required']">La modalidad es obligatorio</div>
                  </div>
                </div>
              </div>

            <input type="hidden" formControlName="funcion">
          </form>
  
        </div>
        <div class="modal-footer">
          <div *ngIf="guardado" class="alert alert-success col-12">Datos guardados correctamente.</div>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
          <button type="submit" form="frmCliente" class="btn btn-primary" [disabled]="!frmCliente.valid">Guardar</button>
        </div>
      </div>
    </div>
  </div>
  
  <!--Ventana confirmacion Modal -->
  <div class="modal fade" id="ventanaConfirm" data-backdrop="static" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">{{tituloForm}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div *ngIf="confirmado==true; else eliminaMsg" class="alert alert-warning col-12">
            Eliminado Correctamennte.</div>
          <ng-template #eliminaMsg>Seguro que desea eliminar el cliente {{cliente.nombre_cliente}}?</ng-template>
  
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
          <button type="submit" class="btn btn-primary" (click)="eliminar()"
            [disabled]="confirmado==true">Eliminar</button>
        </div>
      </div>
    </div>
  </div>